*
*/
!.gitignore

# Project info
!Project.toml

# README
!README.md

# Config data
!data/
!data/*

# Source code files
!aa228download.jl
!src/
!src/.mbin
!src/.pbin
!src/.sbin
!src/AA228Student.jl

# Project 1 starter code, data, and submit executables
!workspace/
!workspace/submit*
!workspace/project1/
!workspace/project1/project1.jl
!workspace/project1/project1.py
!workspace/project1/example.gph
!workspace/project1/titanicexample.gph
!workspace/project1/large.csv
!workspace/project1/medium.csv
!workspace/project1/small.csv